

{% extends "layout.html" %}

{% block body  %} 
    <div class="jumbotron text-center">
        <h3>Canın Çöplüğüne Hoşgeldiniz...</h3>
        <p>Bu blokta kendinizi tanıtabilirsiniz...bencankurt17@gmail.com</p>  
    </div>  
    <hr> 
    <!-- Dosya yolunu bulamadığından çekmiyormuş onalrı aha ben gidiyommm -->
    <div class="jumbotron text-center">
        <img src="https://mobile.donanimhaber.com/images//upfiles/860486/0DB838224E0E4809A7964EEE65C31708.jpg" class="img-responsive" width="600px"/>
    </div>   
{% endblock  %}